$base-color: var(--colors-grey-white);

@mixin font-style($color: $base-color, $size: 14px, $line-height: 22px, $weight: 400, $font-family: 'Inter') {
  color: $color;
  font-weight: $weight;
  font-size: $size;
  font-family: $font-family;
  line-height: $line-height;
}

@mixin caption-2($color: $base-color) {
  @include font-style($color, 10px, 12px)
}

@mixin caption-2-strong($color: $base-color) {
  @include font-style($color, 10px, 12px, 600)
}

@mixin caption-1($color: $base-color) {
  @include font-style($color, 12px, 16px)
}

@mixin caption-1-strong($color: $base-color) {
  @include font-style($color, 12px, 16px, 600)
}

@mixin caption-1-stronger($color: $base-color) {
  @include font-style($color, 12px, 16px, 700)
}

@mixin body-1($color: $base-color) {
  @include font-style($color, 14px, 22px)
}

@mixin body-1-strong($color: $base-color) {
  @include font-style($color, 14px, 22px, 600)
}

@mixin body-1-stronger($color: $base-color) {
  @include font-style($color, 14px, 22px, 700)
}

@mixin body-2($color: $base-color) {
  @include font-style($color, 16px, 24px)
}

@mixin subtitle-2($color: $base-color) {
  @include font-style($color, 16px, 24px, 600)
}

@mixin subtitle-2-stronger($color: $base-color) {
  @include font-style($color, 16px, 24px, 700)
}

@mixin subtitle-1($color: $base-color) {
  @include font-style($color, 20px, 30px, 600)
}

@mixin title-3($color: $base-color) {
  @include font-style($color, 24px, 32px, 600)
}

@mixin title-2($color: $base-color) {
  @include font-style($color, 28px, 36px, 600)
}

@mixin title-1($color: $base-color) {
  @include font-style($color, 32px, 40px, 600)
}

@mixin large-title($color: $base-color) {
  @include font-style($color, 40px, 52px, 600)
}

@mixin display($color: $base-color) {
  @include font-style($color, 68px, 92px, 600)
}

@mixin mono-caption-2($color: $base-color) {
  @include font-style($color, 10px, 8px)
}

@mixin mono-caption-2-strong($color: $base-color) {
  @include font-style($color, 10px, 8px, 600)
}

@mixin mono-caption-1($color: $base-color) {
  @include font-style($color, 12px, 10px)
}

@mixin mono-caption-1-strong($color: $base-color) {
  @include font-style($color, 12px, 10px, 600)
}

@mixin mono-caption-1-stronger($color: $base-color) {
  @include font-style($color, 12px, 10px, 700)
}

@mixin mono-body-1($color: $base-color) {
  @include font-style($color, 14px, 10px)
}

@mixin mono-body-1-strong($color: $base-color) {
  @include font-style($color, 14px, 10px, 600)
}

@mixin mono-body-1-stronger($color: $base-color) {
  @include font-style($color, 14px, 10px, 700)
}

@mixin mono-body-2($color: $base-color) {
  @include font-style($color, 16px, 12px)
}

@mixin mono-subtitle-2($color: $base-color) {
  @include font-style($color, 16px, 12px, 600)
}

@mixin mono-subtitle-2-stronger($color: $base-color) {
  @include font-style($color, 16px, 12px, 700)
}

@mixin mono-subtitle-1($color: $base-color) {
  @include font-style($color, 20px, 16px, 600)
}

@mixin mono-title-3($color: $base-color) {
  @include font-style($color, 24px, 18px, 600)
}

@mixin mono-title-2($color: $base-color) {
  @include font-style($color, 28px, 20px, 600)
}

@mixin mono-title-1($color: $base-color) {
  @include font-style($color, 32px, 24px, 600)
}

@mixin mono-large-title($color: $base-color) {
  @include font-style($color, 40px, 30px, 600)
}

@mixin mono-display($color: $base-color) {
  @include font-style($color, 68px, 50px, 600)
}
