:root {
  --border-radius-none: var(--global-border-radius-none);
  --border-radius-small: var(--global-border-radius-20);
  --border-radius-medium: var(--global-border-radius-40);
  --border-radius-large: var(--global-border-radius-60);
  --border-radius-x-large: var(--global-border-radius-80);
  --border-radius-circular: var(--global-border-radius-circular);
}
