:root {
  --global-border-radius-none: 0px;
  --global-border-radius-20: 2px;
  --global-border-radius-40: 4px;
  --global-border-radius-60: 6px;
  --global-border-radius-80: 8px;
  --global-border-radius-120: 12px;
  --global-border-radius-circular: 99px;
}
